<div class="topbar">
    <div class="topbar-left">
        <div class="navbar-logo">
            <a href="/home"><img src="" class="logo" alt="" />Activity</a>
        </div>
    </div>
    <nav class="navbar">
        <button onclick="openNav()" class="sidenav-open" id="openNav">
            <i class="bx bx-menu"></i>
        </button>
    </nav>
</div>
<div id="mySidenav" class="sidenav">
    <div class="closebtn">
        <div class="sidenav-text">
            <span>PRINCIPAL</span>
        </div>
        <div>
            <button onclick="closeNav()"><i class="bx bx-x"></i></button>
        </div>

    </div>
    <ul>
        <li>
            <a href="/home">Página Inicial</a>
        </li>
        <li>
            <a href="atividadesComplementares">
                <% if(user.curso=='1' ){ %>
                    Atividades Complementares
                    <%} else { %>
                        Atividades Teórico-Práticas de Aprofundamento
                        <% } %>

            </a>
        </li>
        <li>
            <a href="extensao">Atividades de Extensão</a>
        </li>
        <li>
            <a href="estatisticas">Estatisticas</a>
        </li>
        <li>
            <a href="ranking">Ranking</a>
        </li>
        <li>
            <a href="missoes">Missões</a>
        </li>


        <div class="linha"></div>
        <div id="hours">
            <div class="sidenav-horas" id="complementary_activity">
                <br><br>
                <span>Horas registradas em ACs: </span>
                <p>
                    <%= user.horas_acs %> horas
                </p>
            </div>
            <br><br>
            <div class="sidenav-horas" id="extension_activity">
                <span>Horas registradas em AEs: </span>
                <p>
                    <%= user.horas_aes %> horas
                </p>
                <br><br>
            </div>
        </div>
        <div class="linha"></div>
        <div class="sidenav-text">
            <span>OPÇÕES</span>
        </div>
        <li>
            <a href="perfildoAluno">Perfil do Aluno</a>
        </li>
        <li>
            <a href="atualizacoes">Atualizações</a>
        </li>
        <li>
            <a href="/logout" class="btn-sair">Sair</a>
        </li>
    </ul>
</div>

<script>

    const p_complementary_hours = document.getElementById('categoria_atividade')
    const p_extension_hours = document.getElementById('subcategoria_atividade')
    const openNav_hours = document.getElementById('openNav')
    var value = '<%- (user.email) %>'



    openNav_hours.addEventListener('click', (e) => {
        fetch(`/horas_json/${value}`)
            .then(response => {
                response.json().then(data => {
                    console.log("fetch subcategoria ->" + data)

                });
            })
            .catch(err => console.log(err));
    });
</script>