<%- contentFor('title') %>
Missões

<%- contentFor('main') %>
<div class="mission-container">
   <div class="mission-space">
      <div class="header-space"> 
         <div class="header-mission">
            <h2>Missões</h2>
           </div>
      </div>
      <div class="mission-info-container" >
         <div>
            <p>Se cadastre em um curso de Inglês</p>
            <button class="btn-box"><i class='bx bx-star'></i></button>
         </div>
         <div>
            <p>Se cadastre em um curso de Espanhol</p>
            <button class="btn-box"><i class='bx bx-star'></i></button>
         </div>
      </div>
      <div class="mission-info-container" >
         <div>
            <p>Só mostrando como funciona</p>
            <button class="btn-box"><i class='bx bx-star'></i></button>
         </div>
         <div>
            <p>Daora</p>
            <button class="btn-box"><i class='bx bx-star'></i></button>
         </div>
      </div>
   </div>

   
</div>