<%- contentFor('title') %>
Ranking

<%- contentFor('main') %>
<body id="ranking">

    <div id="container-ranking">
        <div class="ranking-text-container">
            <h1>Ranking</h1>
            <div class="curso-container">
                <h2>Curso:</h2>
                <h2 class="curso-text">TADS</h2>
            </div>
        </div>
        <div id="ranking-table-container">
            <div class="div-box">
            <table id="ranking-table">
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Atv.Complementares</th>
                    <th style="border-right: none">Atv. de Extensão</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Heitor Lima Barbosa Ribeiro</td>
                    <td>90 Horas Restantes</td>
                    <td style="border-right: none">50 Horas Restantes</td>
                </tr>
            </table>
        </div>
        </div>
    </div>
</body>